body{
    margin: 0;

}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(53, 50, 50);
    color: white;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 2%;

}

.logo{
    font-weight: 300;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
   
}

a{
    text-decoration: none;
    color: white;
}


.de{
    padding-left: 49px;
}

.baby{
    padding-left: 57px;
}

.categorie, .search, .bouton{
    padding-top: 40px;
}

.img{
  background-image: url("img/ban.jpg");
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 20px;
}

.code{
    font-size: 50px;
}

h2, b{
    color: rgb(0, 255, 85);
    font-style: oblique;
}

.motive{
    padding: 20px;

}

.regle-rouge{
    border: 1px solid red;
    margin-top: 5%;
    margin-left: 37%;
    background: red;

}

.illu-motive{
    height: 400px;
    width: 500px;
    margin-left: 5%;
    border: 5px solid red;
    border-radius: 10%;
    box-shadow: black;
}

.motivation{
    margin-top: 1%;
    display: flex;
    color: rgb(15, 12, 12);
    justify-content: space-between;
    font-size: 30px;
}

.img-text{
    padding-top: 6%;
    margin-left: 5%;
    margin-right: 5%;
    font-style: oblique;
}

.h3{
    color: red;
    font-style: oblique;
    margin-left: 30%;
    text-decoration: underline;
}

.regle-orange{
    border: 1px solid rgb(196, 130, 7);
    margin-top: 5%;
    margin-right: 37%;
    background: rgb(196, 130, 7);

}

.vision{
    margin-top: 1%;
    display: flex;
    color: rgb(12, 12, 160);
    justify-content: space-between;
    font-size: 30px;
}

.illu-obj{
    height: 400px;
    width: 500px;
    margin-right: 5%;
    border: 5px solid rgb(155, 102, 5);
    border-radius: 10%;
    box-shadow: orange;
    
}

.motivation-text{
    padding-top: 6%;
    margin-left: 5%;
    font-style: oblique;
}

.notre-vision{
    color: rgb(155, 102, 5);
    font-style: oblique;
    margin-left: 30%;
    text-decoration: underline;
}

.motive-text{
    padding-top: 6%;
    margin-right: 5%;
    margin-left: 5%;
    font-style: oblique;
}

.orienter{
    margin-top: 2%;
    display: flex;
    color: black;
    justify-content: space-between;
    font-size: 30px;
}

.orienter-img{
    height: 400px;
    width: 400px;
    border: 5px solid;
    border-radius: 100%;
    margin-left: 5%;
}

.orienter-titre{
    color: rgb(12, 12, 160);
    font-style: oblique;
    margin-left: 30%;
    text-decoration: underline;
}

.orienter-text{
    padding-top: 6%;
    margin-right: 5%;
    margin-left: 5%;
    font-style: oblique;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    background: black;
}

.footer div{
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
}

h4{
    color: white;

}

.coder{
    font-size: 100px;
}

.droit-baby{
    font-size: 20px;
    border: 1px solid white;
    border-radius: 100%;
    color: white;
}

.droit-baby{
    font-size: 40px;
}